$White: #fff;
$Black: #000;


$mainColorDark: #161616;
$iconColorDark: #fff;
$textColorDark: #fff;
$openHeaderDark: rgb(26, 26, 26);

$mainColorLight: #eceee1;
$iconColorLight: #000;
$textColorLight: #161616;
$openHeaderLight: #e7ebd5;
